<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cory.librarymanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/books"
        android:label="@string/app_name"
        android:roundIcon="@drawable/books"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".controller.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".controller.activity.LMInspectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.LoginActivity"/>
        <activity android:name=".controller.activity.ManagerInspectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.LoginActivity"/>
        <activity android:name=".controller.activity.ReaderInspectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.LoginActivity"/>


        <activity android:name=".controller.activity.CardRegisterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.ManagerInspectionActivity"/>
        <activity android:name=".controller.activity.BookReturnActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.ManagerInspectionActivity"/>
        <activity android:name=".controller.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.ManagerInspectionActivity"/>

        <activity android:name=".controller.activity.PurchaseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.activity.LMInspectionActivity"/>

    </application>

</manifest>