<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cory.librarymanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/books"
        android:label="@string/app_name"
        android:roundIcon="@drawable/books"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".controller.CardRegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.BookReturnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.PurchaseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".controller.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.LMInspectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.ManagerInspectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.ReaderInspectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>